:root {
    --image-padding: 20px;
    --image-width: 80%;
    --image-height: 250px;
    --image-margin: 40px;
}

@media (max-width: 600px) {
    :root {
        --image-padding: 10px;
        --image-width: 100%;
        --image-height: 200px;
        --image-margin: 10px;
    }
}

.image-preview {
    cursor: pointer;
    object-fit: contain;
    width: var(--image-width);
    height: var(--image-height);
    margin: var(--image-margin) 0;
}

